* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'EB Garamond', serif;
}

/* Header */

@font-face {
    font-family: 'lulo_cleanone_bold';
    src: url('/fonts/fontspring-demo-lulocleanonebold.woff2') format('woff2'),
        url('/fonts/fontspring-demo-lulocleanonebold.woff') format('woff');
    font-style: normal;
}

#header {
    height: 255px;
    max-width: 100vw;
    font-family: 'lulo_cleanone_bold';
    letter-spacing: .5px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 80px;
    font-size: 17.5px;
    padding-left: 16px;
    position: relative;
    top:-11px;
}

#job-title {
    font-size: 18.5px;
}

@media (min-width: 701px) {
    #header {
        height: 420px;
        padding-left: 33px;

    }
}

#ellie-logo {
    max-width: 80vw;
}

@media (min-width: 701px) {
    #ellie-logo {
        height: 313px;
    }
}

#ig-icon {
    position: relative;
    top:-11px;
    left: -33px;

}

/* GRID */

#grid {
    display: grid;
}

@media (min-width: 701px) {
    #grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1500px) {
    #grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.grid-item {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
}

.grid-item video {
    position: absolute;
    width: 100%
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s ease-in-out;
}

@media (min-width: 700px) {
    .overlay {
        opacity: 0;
    }
}

.overlay:hover {
    opacity: 1;
}